<div class="footer sticky-bottom  border-top">
    <div class="footer-socials">
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-square-facebook"></i>
<i class="fa-brands fa-square-linkedin"></i>
    </div>
    <div class="footer-brand">
        <p>&copy;Event Manager</p>
        <br>
        <p>@ N R  Vithej Kumar </p>
    </div>
    <div class="footer-links">
<a href="/privacy">Privacy</a>
<a href="/terms">Terms</a>
</div>
</div>