<% layout('/layouts/biolerplate.ejs') -%>
<body>
<div class="signup col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mt-4 mb-5 p-4 border rounded-3 shadow">
    <form method="post" action="/signup_user" >
        <h2 id="signup" class="text-center mb-4">Sign Up</h2>
        <div class="mb-3 ">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
        </div>
        <div class="mb-3 ">
            <label for="college" class="form-label">Enter Institution Name</label>
            <input type="text" class="form-control" id="college" placeholder="Enter Institution" name="college" required>
        </div>
        <div class="mb-3">
            <label for="branch" class="form-label">Branch</label>
            <input type="text" class="form-control" id="branch" placeholder="Enter Branch" name="branch" required>
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="number" class="form-control" id="year" placeholder="Enter Year" name="year" required>
        </div>
        <div class="mb-3">
            <label for="rollno" class="form-label">Roll No</label>
            <input type="text" class="form-control" id="rollno" placeholder="Enter Roll No" name="rollno" required>
        </div>
      
        
         <div class="mb-3">
            <label for="phone" class="form-label">Moblie No</label>
            <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="mb-3 ">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-signup w-100 mt-3">Sign Up</button>
    </form>
</div>
</body>
