<% layout('/layouts/biolerplate.ejs') -%>
<body>
<div class="signup col-4 mx-auto mt-5 mb-5 p-4 border rounded-3 shadow">
    <form method="post" action="/signup_host" >
        <h2 id="signup">Sign Up</h2>
        <div class="mb-3 ">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
        </div>
        <div class="mb-3 ">
            <label for="college" class="form-label">Enter Institution Name</label>
            <input type="text" class="form-control" id="college" placeholder="Enter Institution" name="college" required>
        </div>
       
       
      
        
         <div class="mb-3">
            <label for="phone" class="form-label">Moblie No</label>
            <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="mb-3 ">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-signup ">Sign Up</button>
    </form>
</div>
</body>