
<% layout('/layouts/biolerplate.ejs') -%>
<body>
<div class="home-container text-center">
    
        <a href="/signup_host"><submit class="btn btn-primary" type="button">Signup as Coordinator <i class="fa-solid fa-arrow-right"></i></submit></a>
    
 <Br>
    <a href="/signup_user"><submit class="btn btn-primary" type="button">Signup as Participant <i class="fa-solid fa-arrow-right"></i></submit></a>
  
  
  <br>
  <br>
  Already have an account? <a  id='login' href="/login">Login here</a>
   
</div>

</body>