html, body {
  height: 100%;
  width:100%;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
     display: flex;
    flex-direction: column;
}
.home-container{
    display: flex;
   align-items: center;
    justify-content: center ;
    flex-direction: column;

}
#h1{
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    background-color:#d4bed8 !important;
    
    height:4rem;
    display:flex;
    padding: 0%;
    align-items: center;
width:100%;

}
.navbar-brand{
    margin-left: 0%;
}
#navbarNav{
    
    display: inline-block;
   
}
a{
    color: rgb(38, 63, 2);
    text-decoration: none;
    margin-left: 1rem;
}
#login{
    color: rgb(38, 63, 2);
}
.home-container{
    margin-top: 10rem;

}
.btn-primary{
    margin-top: 2rem;
    

}
.signup{
    display: flex;
    justify-content: center;
}
#signup{
    text-align: center;
}
.btn-signup{
   display: flex;
   justify-self: center;
}
.dropdown{
    width:15rem;
    height:2.5rem;
    border-radius:0.5rem;
}
.login{
    width:20rem;
}
#addevent{
    text-align: center;
}
#error{
    text-align: center;
}
#particpantdetails{
    text-align: center;
}
.card{
    margin:2rem;
    border-radius: 5%;
}
.links{
    display:flex;
    justify-content: space-around;
}
.container{
    flex: 1;
}
.footer-links{
    text-decoration: none;
}
.footer-socials{
    font-size: 1.5rem;
    width:100%;

}
.footer-brand{
    width:100%;
}
.footer-brand,.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color:#d4bed8;
margin-top: auto;
}

